body, textarea, input, button, select, option {
	font-family: monospace;
	background-color: #000000;
	color: #00ff00;
}

div.skoj_header {
	position: absolute;
	left: 100px;
	top: 0px;
	width: 876px;
	height: 64px;
	font-size: 40px;
	margin: 0px;
	padding-top: 12px;
	padding-left: 246px;
	text-align: left;
	border-bottom: 3px double green;
}

hr {
	border-color:green;
	border-style: double;
	border-width: 1px;
}

div.skoj_sidebar {
	position: absolute;
	left: 0px;
	top: 83px;
	width: 300px;
	bottom: 32px;
	padding: 8px;
	padding-left: 24px;
	padding-right: 2px;
	text-align: left;
}

div.skoj_content {
	position: absolute;
	left: 336px;
	top: 76px;
	width: 820px;
	padding: 8px;
	padding-bottom: 48px;
	margin-bottom: 16px;
	padding-left: 16px;
	border-left: 3px double green;
}

div.vspace {
	padding-top: 12px;
	padding-bottom: 12px;
}

div.statement_input {
	padding-top: 8px;
	padding-bottom: 8px;
	color: #ffa000;
}

div.statement_output {
	padding-top: 8px;
	padding-bottom: 8px;
	color: #00a0ff;
}

div.statement_example {
	padding-top: 8px;
	padding-bottom: 8px;
	color: #00a000;
}

table {
	width: 500px;
}

table.wide {
	width: 800px;
}

table.narrow {
	width: 300px;
}

table.narrower {
	width: 220px;
}

td.centered {
	text-align: center;
}

td.right {
	text-align: right;
}

/* unvisited link */
a:link {
	color: red;
	text-decoration: none;
}

/* visited link */
a:visited {
	color: red;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	color: red;
	text-decoration: underline;
	text-decoration-color: #00ff00;
}

/* selected link */
a:active {
	color: purple;
}

td {
	padding: 4px;
}

span.error {
	color: orange;
}
::selection {
  background: green;
}