body {
	font-family: monospace;
}

div.skoj_header {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 48px;
	font-size: 40px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

div.skoj_sidebar {
	position: absolute;
	left: 0px;
	top: 48px;
	width: 25%;
	padding: 8px;
	text-align: left;
}

div.skoj_content {
	position: absolute;
	left: 25%;
	top: 48px;
	width: 50%;
	padding: 8px;
}

/* unvisited link */
a:link {
	color: red;
	text-decoration: none;
}

/* visited link */
a:visited {
	color: red;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	color: blue;
	text-decoration: underline;
}

/* selected link */
a:active {
	color: purple;
}